<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TeamCityBuildLight.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TeamCityBuildLight.Core.Properties.Settings>
      <setting name="TeamCityUser" serializeAs="String">
        <value>name</value>
      </setting>
      <setting name="TeamCityPassword" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="TeamCityUrl" serializeAs="String">
        <value>url</value>
      </setting>
      <setting name="PollingIntervalSeconds" serializeAs="String">
        <value>10</value>
      </setting>
    </TeamCityBuildLight.Core.Properties.Settings>
  </applicationSettings>
</configuration>