<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TeamCityBuildLight.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TeamCityBuildLight.Core.Properties.Settings>
      <setting name="TeamCityUser" serializeAs="String">
        <value>name</value>
      </setting>
      <setting name="TeamCityPassword" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="TeamCityUrl" serializeAs="String">
        <value>url</value>
      </setting>
      <setting name="PollingIntervalSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <!-- Optionally specify configurations to check for failure.  Only listed configurations will make build indicator show failure.  If not provided, check all configurations.-->
      <!--<setting name="OnlyCheckTheseConfigurationsForFailure" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>project :: configuration</string>
              <string>project :: configuration</string>
            </ArrayOfString>
          </value>
        </setting>-->
    </TeamCityBuildLight.Core.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>