<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target xsi:type="File" name="file" fileName="/logs/TeamCityBuildLight/TeamCityBuildLight.Service.log"
        layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}"
        archiveFileName="/logs/TeamCityBuildLight/TeamCityBuildLight.Service.{#####}.log"
        archiveAboveSize="250000"
        archiveNumbering="Sequence"
        maxArchiveFiles="4"/>
    <target xsi:type="ColoredConsole" name="coloredConsole" layout="${longdate} ${logger} ${uppercase:${level}} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!-- Trace, Debug, Info, Warn, Error, Fatal -->
    <logger name="*" minlevel="Trace" writeTo="file,coloredConsole" />
  </rules>
</nlog>