<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="networkCredentialsConfiguration" type="NuGet.Http.Configuration.NetworkCredentialsSection, Nuget" requirePermission="false"/>
  </configSections>

  <networkCredentialsConfiguration>
    <networkCredentials>
      <add url="http://173.1.25.130/BlindsNuget/nuget" userName="NugetReader" password="Goodness123"/>
    </networkCredentials>
  </networkCredentialsConfiguration>
</configuration>