<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdcwwvlBzIUuTBlSwpcoCVwAAAAACAAAAAAAQZgAAAAEAACAAAABu6ODBeIB/cn+HPj/5oHTLQMLGva3lSf3QuuE3qIrX4QAAAAAOgAAAAAIAACAAAAB75BXEAXk7dMvGgf+zIstddZkmi1kF/hdawcpMAIZzHTAAAAA0ymXGXV/8BB9Jex/QwNAsqfG+UPbdPxC3opdLzlxb3VvcHjiwxWdyKCD9gGSs9MVAAAAAtKpFiQmhoxSx/64zqDdCUrV6ISZ6nDzCx5tRsaMyRcQ9+Qs7wgS6XjaRpQrFLkPYc1iSccR/wXwp3QPVWkLpWg==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdcwwvlBzIUuTBlSwpcoCVwAAAAACAAAAAAAQZgAAAAEAACAAAACVA1/7ZDSB6XeZ3CWGF9p0/5EddaW9laeOVZ1WkpS2pgAAAAAOgAAAAAIAACAAAABIgsDcUc4KP6lkhroET4TFgxMy61JD0XBn5P7tMIiELDAAAACM7YBTzhLh+sLhuse3uQFxsRcyoHt9RQWR/faozqxYumfDncb2h+xZoqW4cOu1GJ1AAAAAJzPOYFWCrmDMKa/Jo2l1sVy1VvzBNsJRllV0YLwEutbwv2SfRuMIWFeAV5WhDWr9bGaM4Sfk2ldy5mKCuih7sQ==" />
  </apikeys>
</configuration>